.website-title {
  display: flex;
  justify-content: space-between;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: 80px;
  width: auto;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.title {
  line-height: 2rem;
  margin: 0;
  padding: 0;
}

.subtitle {
  font-size: .8rem;
  margin: 0;
  padding: 0;
}